
\.idea/
__pycache__/
\.pytest_cache/

callgrind.out

\.coverage

htmlcov/

qc_files/

xi2annotator/config

tests/fixtures/xi1_example_HSA_10_scans/xi1_xi2_comparison.csv

tests/fixtures/xi1_example_HSA_10_scans/xiSPEC_xi1_xi2_comparison.csv

/xisearch2/cython/*.so
.python-version

dist/
build/
*.egg-info/

.vscode/
/xisearch2/_version.py
